.venv
.env
credentials
server/data
server/node_modules
expiremental/output/output
batch_0_copy_of_batch_1
batch_1
concatenate/processed_pdfs
concatenate/outputDirectory
concatenate/outputDirectory_extracted
